<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssc.weipan">



    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".base.BaseApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".home.HomeActivity"/>
        <activity
            android:name=".login.LoginActivity"/>
        <activity
            android:name=".login.RecommendInputActivity"/>
        <activity
            android:name=".home.PasswordSetupActivity"/>

        <activity
            android:theme="@style/TransparentActivity"
            android:name=".home.ConfirmPwdActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".home.BankCardActivity"/>

        <activity
            android:name=".home.TradeHistoryActivity"/>

        <activity android:name=".home.ChongZhiActivity"/>


        <activity android:name=".home.SettingActivity"/>

        <activity android:name=".home.YouHuiQuanActivity"/>


        <activity
            android:theme="@style/TransparentActivity"
            android:name=".home.TuijianmaActivity"/>


        <activity android:name=".home.ChuRuJinHistoryActivity"/>

        <activity android:name=".home.TixianActivity"/>

    </application>


</manifest>