<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.biaoyixin.shangcheng">



    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- for wechat -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.biaoyixin.shangcheng.base.BaseApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label"
        >
        <activity android:name="com.biaoyixin.shangcheng.SplashActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name="com.biaoyixin.shangcheng.home.HomeActivity"/>
        <activity
            android:name="com.biaoyixin.shangcheng.login.LoginActivity"/>
        <activity
            android:name="com.biaoyixin.shangcheng.login.RecommendInputActivity"/>
        <activity
            android:name="com.biaoyixin.shangcheng.home.PasswordSetupActivity"/>

        <activity
            android:theme="@style/TransparentActivity"
            android:name="com.biaoyixin.shangcheng.home.ConfirmPwdActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name="com.biaoyixin.shangcheng.home.BankCardActivity"/>

        <activity
            android:name="com.biaoyixin.shangcheng.home.TradeHistoryActivity"/>

        <activity android:name="com.biaoyixin.shangcheng.home.ChongZhiActivity"/>


        <activity android:name="com.biaoyixin.shangcheng.home.SettingActivity"/>

        <activity android:name="com.biaoyixin.shangcheng.home.YouHuiQuanActivity"/>


        <activity
            android:theme="@style/TransparentActivity"
            android:name="com.biaoyixin.shangcheng.home.TuijianmaActivity"/>


        <activity android:name="com.biaoyixin.shangcheng.home.ChuRuJinHistoryActivity"/>

        <activity android:name="com.biaoyixin.shangcheng.home.TixianActivity"/>

        <activity android:name="com.biaoyixin.shangcheng.wxapi.WXEntryActivity"
            android:label="@string/app_name"
            android:exported="true"/>


        <activity android:name="com.shouhuxing.healthassist.wxapi.WXEntryActivity"
            android:label="@string/app_name"
            android:exported="true"/>


        <activity
            android:theme="@style/TransparentActivity"
            android:name="com.biaoyixin.shangcheng.home.ShareActivity"/>

        <activity android:name=".home.HuiWeiDuiActivity"/>

        <activity android:name=".home.QinBinDuiActivity"/>

    </application>


</manifest>